
starter/build
starter/.idea/

starter/.gradle/7.4/fileHashes/fileHashes.bin
starter/.gradle/7.4/fileChanges/last-build.bin
starter/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
